@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
  h1, h2, h3, p {
    @apply text-slate-500
  }
}

::-webkit-scrollbar {
  /* Customize the scrollbar width */
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  /* Customize the scrollbar track */
}

::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
  background: #6ee7b7;
  border-radius: 15px;
}
